<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
        {{!-- <img src="/img/error-404.png" alt="error 404 page"> --}}
    </div>

    {{>footer}}
</body>

</html>