<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <img src="/img/clouds.jpg" alt="" class="image-bg">
    <div class="container">
        {{>header}}
        <img src="/img/avatar.png" alt="" class="portrait">
        {{>footer}}
    </div>
</body>

</html>