<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body class="image-bg" style="--image-url: url('/img/clouds.jpg')">
    <div class="main-content">
        {{>header}}
        <img src="/img/avatar.png" alt="" class="portrait">
    </div>
    {{>footer}}
</body>

</html>